.prBody{
    background-image: url(img/wallpaper.jpg);
}

#iconGMAIL{
    display: inline-block;
    width: 46px;
}

.footpage{
    text-align: center;
    color: white;
}

.GMail{
    font-weight: bold;
}

#powered{
    font-style: italic;
}

#gmailhead{
    color: white;
}

.separator{
    display: block;
    width: 998px;
    margin-left: 15%;
    margin-right: 15%;
}

.whitetext{
    color:white
}

.container{
    width: 1000px;
    margin-right: 15%;
    margin-left: 15%;
}

.row{
    background-color: gainsboro;
    border: black;
    margin: 2px;
}

.subject{
    display: inline-block;
    width: 35%;
}

.bodymail{
    display: inline-block;
    width: 55%;
}




