.center{     
    top:50%;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.centerimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
}

/*
.titolosez{
    color: orangered;
    font-weight: bold;
}
*/

section > h2{
    color: orangered;
    font-weight: bold;
}

/*
.titoloart{
    font-style: italic;
    font-weight: bold;
}
*/

section > h3{
    font-style: italic;
    font-weight: bold;
}


header{
    background-color: gainsboro;
    border-bottom: 3px solid orange;
}

main{
    padding: 8px; /*Margine da sinistra*/
    border-bottom: 3px solid orange;
}