/* COMMENTO IN CSS */

/* Il nome del selettore (id in HTML) deve essere preceduto dal "#" */




#saluto{     
    color: red;
}



#saluto2{
    color: green;
} 
 

/* Se utilizzo come nome selettore il DIV (non preceduto da #) indico a css che tutti i div dovranno avere quelle caratteristiche */
div{
    color: blue;
}

/*Se utilizzo un attributo per un id speicifico e un attributo per un selettore generico (tipo div) chi vince tra i due? il selettore specifico con ID!!*/
/*
p{
    color: red;
}
*/

#speciale{
    color: red;
}

#speciale1{
    color: red;
}

#speciale2{
    color: red;
}

.speciale{
    color: red;
}

/*
Che differenza c'è tra ID e Class?

ID -> definisce un elemento unico all'interno della pagina
Class -> definisce una serie di elementi con caratteristiche comuni
*/

/* Alcuni attributi presenti per i nostri selettori
#attributiGenerici{
    background:
    color:
    width:
    height:
    border:
}
*/